[submodule "public"]
	path = public
	url = https://github.com/osadalakmal/osadalakmal.github.io.git
	branch = main
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/caijimmy/hugo-theme-stack
