{{ if eq .Kind "taxonomy" }}
<meta name="robots" content="noindex, follow" />
{{ else if eq .Kind "taxonomyTerm" }}
<meta name="robots" content="noindex, follow" />
{{ else if eq .Kind "home" }}
<meta name="robots" content="index, follow" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Blog",
    "name": "Osada Blog",
    "url": "https://osada.blog",
    "author": {
      "@type": "Person",
      "name": "Osada Lakmal Paranaliyanage"
    },
    "description": "Curiously recurring thoughts on software engineering, systems, leadership, and life."
  }
</script>
{{ end }}
